/*
COLORS: 
cyan: #329AF7
white: #ffffff
black: #171B22

*/

*{
    text-decoration: none;
    font-family: sans-serif;
}

.App{
    border: solid orange;
}

.top{
    display: flex;
    justify-content: space-between;
}

/*-----------NAVBAR-------------*/
.NavBarMain{
    width: 30%;
    border: solid black;
}

.NavBar{
    border: solid blue;
    display: flex;
    flex-direction: column;

}

.NavLink{
    margin: .5em 1em;
}

.Icons{
    width: 20px;
}

.Button{
    margin: 0 auto;
}

button{
    background-color: #329AF7;
    color: white;
    border: none;
    border-radius: 20px;
    padding: .6em 4em;
    margin-top: 1em;
}

/*-----------TWEETS-------------*/

.Main{
    border: solid pink;
    width: 35%;
}

.Tweet{
    border: solid green;

}

.IconGroup{
    display:flex;
    justify-content: space-between;
}

.IconPost{
    width: 20px;
}

/*-----------SIDEBAR-------------*/

.SideBar{
    border: solid purple;
    width: 30%;
}

/*-----------FOOTER-------------*/

.bottom{
    border: solid yellow;
    display: flex;
    justify-content: center;
    height: 100px;
}